body {
    font-family: 'Red Hat Display', sans-serif;
    background: #EBEBEB;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

:host {
    --color-base: #393737;
    --color-primary: #FD9629;
    --color-secundary: #ED003A;
    --color-default: #222B4E;
}

/* CSS Reset */

*, *:before, *:after {
    box-sizing: inherit;
}

.mb-2 {
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

/* Box Sizing Border Box */

html {
    box-sizing: border-box;
}

/* Clearfixes */

.clearfix:before, .clearfix:after, .section:before, .section:after, .row:before, .row:after, .column:before, .column:after, .navbar:before, .navbar:after {
    content: " ";
    display: table;
}

.clearfix:after, .section:after, .container:after, .row:after, .column:after, .navbar:after {
    clear: both;
}

.img {}

/* *****************
  CSS Grid
******************** */

.col {}

.row .col:first-child {
    padding-right: 20px;
}

@media only screen and (min-width: 800px) {
    .col {
        float: left;
    }
    .col-2 {
        width: 16.66666667%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333333%;
    }
    .col-6 {
        width: 50%;
    }
    .col-8 {
        width: 66%;
    }
    .col-12 {
        width: 100%;
    }
}

h2 {
    font-weight: 600;
    color: #ED003A;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    font-size: 1.4em;
}

h3 {
    color: #222B4E;
    font-size: 1.4em;
    font-weight: 800;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner-container {
    background: #fff;
    display: flex;
    flex: 1;
    padding: 0px;
    flex-direction: column;
}

aside {}

.inner {
    flex: 1;
    width: 100%;
    margin: 20px 0 0 0px;
    padding-top: 40px;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sideNavigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sideNavigation ul li {
    flex: 1;
}

.ButtonMd {
    padding: 10px 30px;
    font-size: .8em;
}

.ButtonSm {
    padding: 6px 20px;
    font-size: .6em;
}

.btn {
    cursor: pointer;
    color: #393737;
    outline: none;
    border-radius: 60px;
}

.btn:active {
    outline: none;
}

.ColorPrimary {
    background: #FD9629;
    color: #fff;
}

.ColorPrimary a {
    color: #fff!important;
}

.ColorPrimary:hover {
    background: #f19633;
}

.ColorSecundary {
    background: #ED003A;
    ;
    color: #fff;
}

.ColorSecundary:hover {
    background: #f33464;
    ;
}

.ColorGray {
    background: #a09e9c;
    color: #fff;
}

.ColorGray:hover {
    background: #b8b6b5;
}

.iconOnly {
    background: transparent;
}

.iconOnly:hover {
    opacity: .7;
}

.widget {}

.widget::after {
    display: block;
    clear: both;
    content: "";
}

.no-border {
    border-bottom: none!important;
}

.MobileNav {
    background: transparent;
    color: #fff;
    margin-left: 30px;
}

@media (max-width: 760px) {
    aside {
        display: none!important;
    }
}

@media (min-width: 860px) {
    .inner {
        flex: 1 1 690px;
        margin: 0 0 0 0px;
        border-left: 1px solid #e2dfdf;
        min-height: 600px;
    }
    .inner-container {
        flex: 1 1 690px;
        flex-direction: row;
    }
    .container {
        flex-direction: row;
    }
}

.react-tabs {
    margin: 0 0 40px 0;
}

.react-tabs__tab {
    color: #393737;
}

.react-tabs__tab-panel {
    border: 1px solid #d8d7d7;
    border-top: none;
    padding: 20px 10px;
}

.react-tabs__tab-list {
    margin: 0;
}

.react-tabs__tab--selected, .react-tabs__tab-list {
    border-color: #d8d7d7;
    font-weight: 500;
}

.public-DraftEditor-content {
    min-height: 200px;
    border: 1px solid rgb(243, 240, 240);
    margin-bottom: 30px;
    padding: 10px;
}

textarea {
    padding: 9px 15px;
    background: #E5E9F9;
    width: 100%;
}

select {
    border: 2px solid #ED003A;
    border-radius: 30px;
    color: #ED003A;
    padding: 6px 15px;
}

.grid-row {
    display: flex;
    width: 100%;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}