body {
    font-family: 'Red Hat Display', sans-serif;
    background: #EBEBEB;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

:host {
    --color-base: #393737;
    --color-primary: #FD9629;
    --color-secundary: #ED003A;
    --color-default: #222B4E;
}



h2 {
    font-weight: 600;
    color:  #ED003A;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  
}

.inner-container {
    background: #fff;
    display: flex;
    flex: 1;
    padding: 0px;
    flex-direction: column;
}

aside {
   
}

.inner {
    flex: 1;
    width: 100%;
    margin: 20px 0 0 0px;
    padding-top: 40px;
    align-self:start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sideNavigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sideNavigation ul li {
    flex: 1;
}

.ButtonMd{
     padding:10px 30px;
     font-size: .8em;
}

.btn {
    cursor: pointer;
    color: #393737;
    outline: none;
}

.btn:active {
    outline: none;
}

.ColorPrimary {
    background:  #FD9629;
    color: #fff;
}

.ColorPrimary:hover  {
    background:  #f19633;
}

.widget {
    
}

.widget::after {
    display: block;
    clear: both;
    content: "";
}

.no-border {
    border-bottom: none!important;
}

.MobileNav {
    background: transparent;
    color: #fff;
    margin-left: 30px;
}

@media (max-width: 760px) {
    aside {
        display:none!important;
    }
}


@media (min-width: 860px) {
    .inner {
        flex: 1 1 690px;
        margin: 0 0 0 0px;
        border-left: 1px solid #e2dfdf;
        min-height: 600px;
    }
    .inner-container {
            flex: 1 1 690px;
            flex-direction: row;
           
    }

    .container {
        flex-direction: row;
    }
    
}
